<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <title>animated sinin and signup panel. animated login and registeration page, popup, - Bootsnipp.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

    /*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
*{
    font-family:"Quicksand", sans-serif;
    margin: 0;
    padding:0;
    scroll-padding-top:2rem;
    box-sizing:border-box;
    scroll-behavior:smooth;
    list-style:none;
    text-decoration:none;
}

/*Variables*/
:root{
--text-color:#161616;
--hover-color:hsl(0,0%,14%);
--bg-color:#fff;
--Btn-color:#e53935;
}

html::-webkit-scrollbar{
width:0.5rem;
background:#2e2e2e;}

html::-webkit-scrollbar-thumb{
width:0.5rem;
background:#2e2e2e;}
img{
width:100%;
}

body{
color:var(--text-color);
}

.main{
overflow-x:hidden;
}

section{
padding : 4rem 0 3rem;
}

.container{
width:100%;
margin:auto;
}

.heading{
    text-align: center;
    font-size:3.0rem;
    background: linear-gradient(#161616,#546e7a);
    color:transparent;
    -webkit-background-clip:text;
    background-clip:text;
    margin-top:20px;
    margin-bottom:2rem;
    }


 header{
display :block;
width:100%;
position:fixed;
top:0;
left:0;
z-index:100;
}

header .shadow{
background: var(--bg-color);
box-shadow: 1px 2px 4px rgb(15 54 55 / 10%);
transition: 0.2s;
}


.logo img{
width:41px;
}

.nav{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 0;

    background: #F5F5F5;
    padding: 3px 2% 0% 1%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius:0.4rem;
}


#menu-icon{
font-size:24px;
cursor:pointer;
display:none;
}

.navbar{
display:flex;
column-gap:2rem;
}

.navbar a{
font-size:1rem;
font-weight:500;
background: linear-gradient(#161616,red);
color:transparent;
-webkit-background-clip:text;
background-clip:text;
}

.navbar a:hover{
color:var(--text-color);
}

    /*Home*/
  .home-content{
    min-height:600px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    gap:2rem;
  }

  .home-text h1{
    font-size:3.4rem;
    margin-bottom:1rem;
  }

  .home-text p{
  margin-bottom:1rem;
  }

.Footer-img{
width:150px;
margin-left:80px;
}


.SubHeader{
justify-content:left;
align-items:center;
padding:0px 150px;
margin:20px;
color: red;
}

.Footer{
display:grid;
grid-template-columns:repeat(auto-fit, minmax(10px,auto));
gap:1rem;
background:#E0E0E0;
}
.Footer-box{
display:flex;
flex-direction:column;

}
.table{
margin:0px 150px;
width:50%;
}
.Footer-box h2{
font-size:1.2rem;
font-weight:600;
margin-bottom:1rem;
}
.Footer-box a
{
    color#fff;
    margin-bottom:4px;
}

.copyright
{
    text-align: center;
    padding: 15px;
}

.logo
{
 width:100px;
Height:50px;
}

@media (max-weidth:1080px)
{
    section
    {
        padding:50px 0;
    }
    .home-text h1
    {
        font-size: 3rem;
    }
}

@media (max-width:768px)
{
.logo img {
width:100px;
}
#menu-icon{
display:inital;
z-index:150;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.navbar{
position:absolute;
top:0;
left:0;
right:0;
background:var(--bg-color);
display:flex;
flex-direction:column;
text-align:center;
box-shadow:0 5px 8px rgb(15 54 55 /10%);
}
.navbar a {
display: block;
padding:12px;
}
.navbar .active{
clip-path:circle(144% at 50% 0);
}
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Green */
</Head>
<body>

<!--Main Content Container-->
<div class="main">
  <!--header-->
  <header>
    <div class="nav container">
      <a href="#" class="logo">
        <img src="Image/Smart.png" alt="">
      </a>
      <i class='bx bx-menu' id="menu-icon"></i>
      <ul class="navbar">
        <li><button class="btn"  onclick="Home();" >Home</button></li>

        <li><button class="btn" onclick="login();" >Login</button></li>
      </ul>
    </div>
  </header>
  <section class="loan" id="loan">
    <h2 class="heading">Customer Creation</h2>
  <div class="container mt-5">
  <div class="container mt-3">

    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label>First Name</label>
        <input type="text" class="form-control" id="FName" placeholder="Enter First Name" name="First Name">
      </div>
      <div class="mb-3 mt-3">
        <label>Last Name</label>
        <input type="text" class="form-control" id="LName" placeholder="Enter Last Name" name="Last Name">
      </div>
      <div class="mb-3 mt-3">
        <label>Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address">
      </div>
      <div class="mb-3 mt-3">
        <label>Enter email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="mb-3 mt-3">
        <label>DOB</label>
        <input type="date" class="form-control" id="dob" placeholder="Enter Date of Birth" name="dob">
      </div>
      <div class="mb-3 mt-3">
        <label>NIC</label>
        <input type="number" class="form-control" id="nic" placeholder="Enter NIC No" name="nic">
      </div>
      <div class="mb-3 mt-3">
        <label>NIC</label>
        <input type="number" class="form-control" id="nic" placeholder="Enter NIC No" name="nic">
      </div>
      <div class="mb-3">
        <label></label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
  </section>
</div>
<script>
  function login(){
  localStorage.clear();
  window.location.href="index.html";
  }
</script>

</body>
</html>
